*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav#nav-bar-liberum{
    list-style-type: none;
}

header#landing-intro{
    height: 600px;
    background: url("../img/landing-page.svg") no-repeat center center;
    background-size: cover;
}

main .figure{
    transition: transform .2s;
}

main .figure:hover{
    transform: scale(1.1);
}

footer i#fb:hover{
    color: blue;
}

footer i#ig:hover{
    color: orange;
}

footer i#yt:hover{
    color: red;
}

footer img:hover{
    cursor: pointer;
    filter: grayscale(0%);
    transform: 5s;
}

footer img{
    filter: grayscale(100%);
}