*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a#a-header:hover{
    color: blue;
}

footer i#fb:hover{
    color: blue;
}

footer i#ig:hover{
    color: orange;
}

footer i#yt:hover{
    color: red;
}

footer img:hover{
    cursor: pointer;
    filter: grayscale(0%);
    transform: 5s;
}

footer img{
    filter: grayscale(100%);
}